@charset "utf-8";
/* CSS Document */

//Begin Styles Here



  // ADDED STUFF FROM 003

  //
// Custom Styles
//

//Fonts
  @font-face { 
    font-family: 'ComeniaSansCondRegular';
    src: url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.eot');
    src: local('☺'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.woff') format('woff'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.ttf') format('truetype'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.svg#webfontWDfTSCpx') format('svg');
    font-weight: normal;
    font-style: normal; 
  }

  @font-face {
    font-family: 'ComeniaSansCondBold';
    src: url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.eot');
    src: local('☺'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.woff') format('woff'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.ttf') format('truetype'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.svg#webfont7RYPTQcC') format('svg');
    font-weight: normal;
    font-style: normal;
  }

// Colors
  $color-maroon: #7c2142;
  $color-black: #000;
  $color-white: #fff;
  $color-grayApollo: #222;      //the God of the Sun and the Music
  $color-grayBoreas: #333;      //the Wind of the North
  $color-grayChiron: #555;      //the Wise and Gentle Tutor
  $color-grayDanae: #606060;    //the mother of Perseus
  $color-grayErato: #666;       //the Muse of Love Poetry
  $color-grayFates: #7a7a7a;    //the Spinners of the Thread of Life
  $color-grayGaea: #7e7e7e;     //Mother Earth
  $color-grayHermes: #939393;   //the Messenger of the gods
  $color-grayIris: #b7b7b7;     //the personification of the rainbow
  $color-grayJason: #c3c3c3;    //the leader of the Argonauts
  $color-grayKallipygos: #ccc;  //title of the Greek god Aphrodite
  $color-grayLinus: #e2e2e2;    //the Music teacher of Heracles
  $color-grayMinotaur: #f0f0f0; //the creature with the head of a bull

// Backgrounds
  $background-d: url('http://www.brooklyn.cuny.edu/web/sup_foundation/diagonals.png');

// Borders
  $thick-maroon: 8px solid $color-maroon;
  $medium-grayJason: 4px solid $color-grayJason;
  $thin-maroon: 1px solid $color-maroon;
  $thin-grayApollo: 1px solid $color-grayApollo;
  $thin-grayIris: 1px solid $color-grayIris;
  $thin-grayJason: 1px solid $color-grayJason;
  $thin-grayKallipygos: 1px solid $color-grayKallipygos;
  $thin-grayLinus: 1px solid $color-grayLinus;

// Text
  $bold: bold;

// Screens
  $Desktop: "screen and (min-width: 850px)";
  $iPadPortrait: "screen and (max-width: 849px) and (min-width: 768px)";
  $Phone: "screen and (max-width: 767px)";
  $Five00: "screen and (max-width: 500px)";

// General Stuff
  .columns {
    //border: 1px solid #666;
    //background-color: lighten($primary-color, 30%);
  } 

  .clearfix{
    @include clearfix;
  }

  a {
    color: $color-maroon;
    font-weight: $bold;
    &:hover {
      color: $color-grayApollo;
    }
  }

  ul {
    list-style: none;
  }

  .full-width { 
    width: 100%; 
    max-width: 100%;
  }

  .italics {
    font-style: italic;
  }

  .all-caps {
    text-transform: uppercase;
  }

  .bolder {
    font-weight: $bold;
  }

  p.see-all{
  color: $color-maroon;
  float: right;
  margin-bottom: 0;
  font-size: rem-calc(15);
  padding-right: 12px;
  background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/seeAll-maroon.png) no-repeat 56px 6px;
  @media #{$Phone} {
    padding-right: 20px;
    font-size: rem-calc(13);
    background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/seeAll-maroon-Mini.png) no-repeat 52px 6px;
  }
  &:hover {
      background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/seeAll-Hover.png) no-repeat 56px 6px;
      color: $color-grayErato;
      @media #{$Phone} {
        font-size: rem-calc(13);
        background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/seeAll-Hover-Mini.png) no-repeat 52px 6px;
      } 
    }
  }

//Header Styles
  .logo {
    padding: rem-calc(32) 0 rem-calc(32) rem-calc(40);
    @media #{$iPadPortrait} {
      padding: rem-calc(16) 0 rem-calc(16) rem-calc(16);
    }
      @media #{$Phone} {
      padding: rem-calc(16) 0 rem-calc(16) rem-calc(16);
    }
  }

  .mission-text p {
    //border: 1px solid #000000;
    color: $color-black;
    position: relative;
    padding: rem-calc(56) 0 0 rem-calc(38);
    height: rem-calc(135);
    letter-spacing: rem-calc(-.4);
    font-size: rem-calc(18);
    line-height: 130%;
  }

  .donate-now {
    background: $color-maroon;
    a p {
      text-align: center; 
      text-transform: uppercase;
      font-size: rem-calc(30);
      color: white;
      height: rem-calc(40);
      line-height: 60px;
    }
  }

 /* .absolute-center {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%; 
    height: 60%;
    min-width: rem-calc(200);
    padding: 10%;
    //border: 1px solid #666;
  }*/

//Footer Styles
  .footer-wrapper {
    background-image: $background-d;
    background-repeat:repeat;
    border-top: $thick-maroon;
    padding: rem-calc(25) 0 rem-calc(28) 0;
    a {
      color: $color-maroon;
      font-weight: normal;
      &:hover {
        color: $color-grayErato;
      }
    }
    .footer-address{
      padding: 0 0 0 rem-calc(40);
      @media #{$Phone} {
        padding: 0 0 0 rem-calc(16);
      }
      h1 {
        font-family: 'ComeniaSansCondBold';
        text-transform: uppercase;
        color: $color-grayApollo;
        font-size: rem-calc(14);
      }
      p {
        color: $color-grayChiron;
        font-size: rem-calc(12);
        padding: 0 0 rem-calc(10) 0;
        margin: 0;
      }
      .footer-title {
        font-weight: bolder;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      .footer-url {
        padding-top: rem-calc(20);
      }
    }
    .footer-nav {
      ul{
        margin-left: 0;
        li {
          font-size: rem-calc(14);
          padding-bottom: rem-calc(2);
          ul {
            display: none;
          }
        }
        li.search-element {
          display: none;
        }
      }
      .footer-copyright {
        padding: 0;
        font-size: rem-calc(12);
        margin: 0;
      }
    }
  }

// Nav One (TopBar) Styles

// Slimmenu styles - default ------------------------------------------------------------------

ul.slimmenu li .sub-collapser {
  background: none repeat scroll 0 0 rgba(126, 126, 126, 0.40);
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px; //100%
  text-align: center;
  z-index: 999;
  cursor: pointer;
  @media #{$Phone} {
    width: 32px;
    height: 32px;
  }
}
ul.slimmenu li .sub-collapser:before {
    content: '';
    display: inline-block;
    height: 32px; //100%
    vertical-align: middle;
    margin-right: -0.25em;
    //@media #{$Phone} {
    //  width: 32px;
    //  height: 32px;
    //}
}

.expanded {
    //width: 32px;
    height: 32px;
    //asas
}

ul.slimmenu li .sub-collapser > i {
    color: #333;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}

ul.slimmenu li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 100%;
}
ul.slimmenu li > ul > li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    width: 100%;
}

// Slimmenu styles - default end ------------------------------------------------------------------

  .nav-one {
    background-color: $color-maroon;
    //padding-top: rem-calc(5);
    max-height: rem-calc(35);
    text-transform: uppercase;
    z-index: 9999;
    nav {
      padding: 0 rem-calc(20) 0 rem-calc(20);
      @media #{$iPadPortrait} {
        padding: 0;
      }
      @media #{$Phone} {
        padding: 0;
        position:absolute; 
        top: 0px;
        right:0;
        z-index: 9999;
        width: 325px;
      }
      .menu-collapser {
        position: relative;
        background-color: #999;
        color: #FFF;
        text-shadow: 0 1px 0 rgba(0,0,0,0.5);
        width: 100%;
        height: 35px; /* 48*/
        line-height: 35px; /* 48*/
        font-size: 16px;
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        @media #{$Phone} {
          width: 35px; 
          float:right; 
          position:absolute; 
          top: 0px;
          right: 0px; //35px - once the search object gets made 
        }
        &:hover {
          background-color: $color-grayBoreas;
        }
       .collapse-button {
        position: absolute;
        right: 0px;
        top: 50%;
        width: 35px;
        //background-color: #0E0E0E;
        //background-image: linear-gradient(to bottom, #151515, #040404);
        //background-repeat: repeat-x;
        //border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        //border-radius: 4px 4px 4px 4px;
        //border-style: solid;
        //border-width: 1px;
        color: #FFFFFF;
        //box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
        padding: 7px 10px;
        //text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        cursor: pointer;
        font-size: 14px;
        text-align: center;

        transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        &:hover, &:focus{
          //background-image: none;
          //background-color: #040404;
          //color: #FFF;
        }
        .icon-bar {
          background-color: #F5F5F5;
          border-radius: 1px 1px 1px 1px;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          display: block;
          height: 2px;
          width: 16px;
          margin: 2px 0;
        }
       }
      }
      ul.slimmenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: $color-maroon;
        @media #{$Phone} {
          background-color: $color-grayBoreas;
          position:absolute;
          top:35px;
        }
        & > li { 
          margin-right: -5px; 
          border-left: $thin-grayIris;
          &:first-child { 
            border-left: 0;
          }
          &:last-child { 
            margin-right: 0;
          }
        }
        li {
          background-color: $color-maroon;
          margin-right: 0px;
          position: relative;
          display: inline-block;
          border-left: none;
          @media #{$Phone} {
            background-color: $color-grayBoreas;
          }
          a {
            display: block;
    
            //text-shadow: 0 1px 0 rgba(255,255,255,0.2);
            //transition: background-color 0.5s ease-out;
            //-o-transition: background-color 0.5s ease-out;
            //-moz-transition: background-color 0.5s ease-out;
            //-webkit-transition: background-color 0.5s ease-out;

            color: $color-white;
            font-weight: bolder;
            font-size: rem-calc(15);
            height: 35px;
            line-height: 15px;
            padding: 10px 16px 12px 16px;
            @media #{$Phone} {
              padding: 0px 0px 6px 10px;
              font-size: rem-calc(12);
              line-height: 32px;
              height: 32px;
              font-weight: normal;
            }
            &:hover {
              background-color: $color-maroon;
              opacity: 1;
              text-decoration: none;
              @media #{$Phone} {
                background-color: $color-grayBoreas;
                opacity: 1;
              }
            }
          }
          .sub-collapser {
            @media #{$Desktop} {
              display: none;
            }
            @media #{$iPadPortrait} {
              display: none;
            }
            //@media #{$Phone} {
              //display: block;
            //}
          }
          ul {
            //border-left: 3px solid #777;
            //border-right: 3px solid #777;
            //border-bottom: 3px solid #777;
            margin: 0;
            list-style-type: none;
            padding: 5px 0 10px 0;
            background-color: $color-maroon;
            @media #{$Phone} {
              background-color: $color-grayBoreas;
            }
            li {
              background-color: #BBB;
              width:100%;
              a {
                background-color: $color-maroon;
                font-weight: normal;
                @media #{$Phone} {
                  background-color: $color-grayBoreas;
                  padding: 0 0 0 30px;
                }
                &:hover {
                  opacity: 1;
                  @media #{$Phone} {
                    background-color: $color-grayBoreas;
                    opacity: 1;
                  }
                }
                //width: 750px;
                //asas
              }
              ul {
                position: fixed;
                li {
                  a {
                    @media #{$Phone} {
                      display: block;
                      padding: 0 0 0 50px;
                      text-transform: capitalize;
                    }
                  }
                }
              }
            }
          }
          ul.givingopportunities-submenu {
            width: 150%; // needs to be 100 on the phone
            @media #{$Phone} {
              width: 100%;
            }
          }
          ul.about-submenu {
            width: 475%;
            @media #{$Phone} {
              width: 100%;
            }
          }
        }
        li.search-element{
          float: right;
          padding: 3px 20px 3px 0px;
          @media #{$Phone} {
            float:none;
            padding: 4px 16px 4px 10px;
            height:34px;
          }
          .bcf-search{
            .form-field{
              //position:absolute;
              //right: 45px;
              width: 165px;
              height: 29px;
              border: none;
              background: rgba(255, 255, 255, 0.45);
              color: $color-grayApollo;
              padding-left: 5px;
              &:focus{
                border: $thin-grayKallipygos;
              }
              @media #{$iPadPortrait} {
                width: 125px;
              }
              @media #{$Phone} {
                height: 25px;
                width: 250px;
              }
            }
            .submit {
              //position: absolute;
              //right: 20px;
              //background-image: url(http://www.brooklyn.cuny.edu/web/sup_foundation/search.png) no-repeat;
              background: rgba(255, 255, 255, 0.45) url(http://www.brooklyn.cuny.edu/web/sup_foundation/search.png) no-repeat;
              width: 29px;
              height: 29px;
              padding-left: 0px;
              border: none;
              margin-left: -5px;
              cursor: pointer;
              @media #{$Phone} {
                width: 25px;
                height: 25px;
              }
            }
          }
        }
      }
      ul.slimmenu.collapsed {
        li {
          display: block;
          width: 100%;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          a {
            display: block;
            border-bottom: $thin-grayApollo; 

            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;

            transition: none;
            -o-transition: none;
            -moz-transition: none;
            -webkit-transition: none;
          }
          .sub-collapser {
            height: 32px;
            @media #{$Phone} {
              height: 32px;
            }
          }
          & > ul {
            display: none;
            position: static;
          }
        }
      }
    }
  }

  //@media #{$Phone} { //nav-one foundation5 sttempt - NOT USED
      //display:none;
      //background-color: #fff; //all below is the idea of trying to get it up to the top corner
      //position:absolute;
      //top: 0;
      //right:0;
      //float:right;
      //width: 47px;
      //z-index: 500;
    //}
    /* nav {
      height: rem-calc(35);
      line-height:35px;
      margin-bottom:0px;
      padding: 0 rem-calc(20) 0 rem-calc(20);
      background-color: $color-maroon;
      @media #{$iPadPortrait} {
        padding: 0;
      }
      @media #{$Phone} {
        padding: 0;
        //background-color: $color-darkGray;
        //width: -250px;
      }
      .title-area {
        .name {
          background-color: $color-maroon;
        }
        .menu-icon {
          margin-top: rem-calc(-21);
        }
      }
      .top-bar-section {
        background-color: $color-maroon;
        //height:35px;
        ul { //top level
          background-color: $color-maroon;
          //height:35px;
          li { //top level list items
            background-color: none;
            //height:35px;
            a:not(.button) { //top level links with dropdowns I think
              background-color: $color-maroon;
              font-weight: bolder;
              font-size: rem-calc(15);
              //height:35px;
              line-height:35px;
              &:hover{
                background-color: $color-white;
                color: #222;
              }
            }
          }
          .has-dropdown {
            a:not(.button) { //top level links
              background-color: $color-maroon;
              //height:35px;
              line-height:35px;
              border-left: 3px solid $color-maroon;
              border-right: 3px solid $color-maroon;
              &:hover{
                background-color: $color-white;
                color: #222;
                border-left: 3px solid #777;
                border-right: 3px solid #777;
              }
            }
            ul{ //subnavs
              background-color: $color-white;
              //height:35px;
              padding-top: rem-calc(20);
              padding-bottom: rem-calc(10);
              border-left: 3px solid #777;
              border-right: 3px solid #777;
              border-bottom: 3px solid #777;
              li { //subnav list items
                background-color: $color-white;
                //height:35px;
                a:not(.button) { //subnav links
                  border-left: none;
                  border-right: none;
                  background-color: $color-white;
                  //height:35px;
                  color: #222;
                  padding: 0 rem-calc(15) 0 rem-calc(15);
                  margin:0;
                  &:hover{
                    background-color: $color-white;
                    border-left: none;
                    border-right: none;
                    color: $color-maroon;
                  }
                }
              }
              @media #{$Desktop} {
                .has-dropdown ul {
                  position: fixed;
                  top: 10000px;
                }
              }
              @media #{$iPadPortrait} {
                .has-dropdown ul {
                  position: fixed;
                  top: 10000px;
                }
              }
              @media #{$Phone} {
                .has-dropdown ul {
                  position: relative;
                  top: 0;
                }
              }
            }
          } 
        }
      }
    } */ //asas

//Nav Two Styles
  .nav-two {
    background-image: $background-d;
    //height: rem-calc(35); need this for real build
    background-repeat:repeat;
    border-top: $thin-grayKallipygos;
    border-bottom: $thin-grayKallipygos;
    text-align:center;
    ul {
      display: inline-block;
      margin: auto;
      li {
        font-size: rem-calc(14);
        font-weight: bolder;
        display: inline-block;
        padding: rem-calc(5) rem-calc(16) rem-calc(5) rem-calc(16);
        @media #{$iPadPortrait} {
          font-size: rem-calc(12);
        }
        @media #{$Phone} {
          font-size: rem-calc(10);
          padding: rem-calc(2) rem-calc(5) rem-calc(2) rem-calc(5);
        }
        a {
          color: $color-grayApollo;
          &:hover {
            color: $color-maroon;
          }
        }
      }
    }
  }

// Aside Styles
  aside {
    .aside-wrapper {
        padding: rem-calc(30) rem-calc(40) rem-calc(90) rem-calc(65);
        @media #{$iPadPortrait} {
          padding: rem-calc(30) rem-calc(15) rem-calc(90) rem-calc(25);
        }
        @media #{$Phone} {
          padding: rem-calc(16) 0 rem-calc(25) 0;
        }
        .advert {
          padding: rem-calc(15) 0 rem-calc(40) 0;
          border-bottom: $thin-grayKallipygos;
          @media #{$Phone} {
            padding: rem-calc(0) 0 rem-calc(15) 0;
            border-bottom: none;
          }
        }
        .spotlight {
          padding: rem-calc(15) 0 rem-calc(15) 0;
          border-bottom: $thin-grayKallipygos;
          border-top: none;
          @media #{$Phone} {
            border-top: $thin-grayKallipygos;
            padding: rem-calc(13) rem-calc(16) rem-calc(15) rem-calc(16);
          }
          .spotlight-header {
            h3 {
              color: $color-grayBoreas;
              font-weight: $bold;
              text-transform: uppercase;
              padding: 0;
              margin: 0;
              font-size: rem-calc(15);
              height: rem-calc(21);
            }
          }
          .spotlight-image {
            img {
              float: none;
              @media #{$Phone} {
                float: left;
                padding-right: 10px;
              }
              @media #{$Five00} {
                width:125px;
              }
            }
          }
          .spotlight-title {
            h3 {
              color: $color-black;
              font-weight: $bold;
              text-transform: uppercase;
              padding-top: rem-calc(13);
              padding-bottom: rem-calc(13);
              margin: 0;
              font-size: rem-calc(18);
              line-height: 18px;
              @media #{$Phone} {
                padding-top: rem-calc(2);
                font-size: rem-calc(16);
                line-height: 16px;
                padding-bottom: rem-calc(6);
              }
            }
          }
          .spotlight-text {
            p {
              color: $color-grayApollo;
              padding: 0px 0px 5px 0px;
              margin: 0px 0px 0px 0px;
              font-size: rem-calc(15);
              line-height: 18px;
              a {
                color: $color-maroon;
                font-weight: $bold;
                &:hover {
                  color: $color-grayApollo;
                }
              }
              @media #{$Phone} {
                font-size: rem-calc(14);
                line-height: 16px;
              }
            }
          }
        }
        .partners {
          padding: rem-calc(15) 0 rem-calc(15) 0;
          @media #{$Phone} {
            padding: rem-calc(15) rem-calc(16) rem-calc(15) rem-calc(16);
          }
          .partners-title-bar{
            background-color: $color-grayMinotaur;
            height: rem-calc(38);
            h3 {
              font-weight: $bold;
              text-transform: uppercase;
              padding: rem-calc(7) 0 0 rem-calc(10);
              font-size: rem-calc(19);
              line-height: 19px;
              color: $color-grayBoreas;
              float: left;
              @media #{$Phone} {
               padding: rem-calc(8) 0 0 rem-calc(10);
             }
            }
            .see-all {
              position: relative;
              top: -2px;
              margin: rem-calc(8) rem-calc(10) 0px 0px;
              float: right;
              @media #{$iPadPortrait} {
                top: 0px;
              }
              @media #{$Phone} {
                top: 4px;
              }
            }
          }
          .partners-list{
            ul {
              margin:0;
              width:100%;
              background-image: $background-d;
              //@media #{$Phone} {
              //  border: $thin-grayLinus;
              //}
              .partners {
                
                
                //border-left: $thin-grayLinus;
                //border-right: $thin-grayLinus;
                //border-bottom: $thin-grayLinus;
                
                //@media #{$Phone} {
                //  display: inline-block;
                //  width: 33%;
                //  border-left: none;
                //  border-bottom: none;
                //  height: 30px;
                //  margin: 10px 0 10px 0px;
                //  padding: 9px 0px 9px 0px;
                //  &:last-of-type {
                //    border-right: none;
                //  }
                //}
                //@media #{$Five00} {
                //  height: 18x;
                //  padding: 4px 0px 4px 0px;
                //}
                .partners-text {
                  position: relative;
height:60px;

                  p {
                                      position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
  width:100%;
  height: 70%;
  border: $thin-grayLinus;
                    font-size: rem-calc(16);
                    color: $color-grayDanae;
                    font-weight: $bold;
                    //padding: 22px 0px 22px 15px;
                    line-height: 16px;
                    //@media #{$Phone} {
                    //  font-size: rem-calc(12);
                    //  line-height: 12px;
                    //  display: block;
                    //  padding: 0;
                    //  margin: auto;
                    //  width: 100%;
                    //  text-align: center;
                    //}
                    //@media #{$Five00} {
                    //  font-size: rem-calc(9);
                    //  line-height: 9px;
                    //}
                  }
                }
                //img {
                //  padding:0;
                //  margin: 6px 0px 0px 25px;
                //  @media #{$Phone} {
                //    display: block;
                //    margin: 0 auto;
                //    height: 35px;
                //  }
                //  @media #{$Five00} {
                //    height: 25px;
                //  }
                //}
              }
            }
          }
        }
      }
    }

    // Right-Side Navigation
        #sidebar {    
          @media #{$Phone} {
            border-top: $thin-grayKallipygos;
            padding: rem-calc(15) rem-calc(16) rem-calc(15) rem-calc(16);
          }
          #subnav {
            margin: 0;
            .sidebar-header {
              background-image: $background-d;
              background-repeat: repeat;
              color: $color-grayApollo;
              font-size: rem-calc(13);
              font-weight: $bold;
              padding: 10px;
              text-transform: uppercase; 
            }
            a { 
              border-bottom: $thin-grayKallipygos; 
              color: $color-grayApollo; 
              display: block;  
              font-size: rem-calc(14); 
              line-height: 1.2; 
              padding: rem-calc(10); 
              text-transform: uppercase;
              &:hover {
                background-color: $color-maroon;
                color: #fff; 
              }
              &.selected {
                background: $color-maroon; 
                border-bottom: $thin-grayKallipygos;
                color: $color-white; 
                padding-left: rem-calc(10);
                &:hover {
                  background: $color-grayApollo;
                  border-bottom: $thin-grayKallipygos;
                }
              }
            }
            ul { 
              border-bottom: $thin-grayKallipygos; 
              padding: rem-calc(5) 0 rem-calc(10) rem-calc(30);
              margin: 0;
              a { 
                border-bottom: none; 
                font-size: rem-calc(14); 
                padding: rem-calc(6) 0;
                color: $color-grayErato; 
                text-transform: none;
                &:hover {
                  background-color: $color-white; 
                  color: $color-maroon; 
                }
              }
            }
          }
        }

// Article Section Styles for Home Page and News Landing Page
  section .articles-wrapper {
    //border:1px solid #000;
    padding: rem-calc(32) rem-calc(8) rem-calc(90) rem-calc(40);
    @media #{$iPadPortrait} {
      padding: rem-calc(32) rem-calc(8) rem-calc(90) rem-calc(16);
    }
    @media #{$Phone} {
      padding: rem-calc(20) rem-calc(16) rem-calc(16) rem-calc(16);
    }
    .title-bar {
      border-bottom: $thin-grayKallipygos;
      height: 24px;
      @media #{$Phone} {
        height: 17px;
      }
      p.title {
        margin-bottom: 0;
        float: left;
        text-transform: uppercase; 
        font-size: rem-calc(17);
        @media #{$Phone} {
          font-size: rem-calc(12);
        }
      }
    }
    ul {
      padding:0; 
      margin: 0;
      li {
        padding:0;
        .listed-article, .listed-article-landing {
          border-bottom: $thin-grayLinus;
          padding: rem-calc(24) 0 rem-calc(15) 0;
          @media #{$Phone} {
            padding: rem-calc(12) 0 rem-calc(12) 0;
          }
          .article-image {
            float: left;
            margin-bottom: rem-calc(15);
            margin-right: rem-calc(20);
            overflow:hidden; // this is important
            position:relative; // this is important too
            width: 250px;
            height: 135px;
            @media #{$iPadPortrait} {
              width: 200px;
              height: 108px;
              margin-bottom: rem-calc(10);
            }
            @media #{$Five00} {
              width: 125px;
              height: 67px;
              margin-right: rem-calc(10);
            }
            img {
              position:absolute;
            }
          }
          .article-tag {
            padding: 0;
            position: relative;
            top:-8px;
            a {
              color: $color-grayHermes;
              font-size: rem-calc(11);
              &:hover {
                color: $color-grayKallipygos;
              }
            }
          }
          .article-title {
            //border: 1px solid #000;
            padding: 0;
            margin: rem-calc(-25) 0 0 0;
            h2 {
              font-size: rem-calc(20);
              line-height: 23px;
              @media #{$Five00} {
                font-size: rem-calc(18);
                line-height: 19px;
              }
            }
            a {
              color: $color-grayApollo;
              @media #{$Phone} {
                color: $color-maroon;
              }
              &:hover {
                color: $color-maroon;
                 @media #{$Phone} {
                  color: $color-grayApollo;
                }
              }
            }
          }
          .article-date p {
            color: $color-grayHermes;
            font-size: rem-calc(12);
            padding: 0px 0px 5px 0;
            margin:0;
          }
          .article-teaser p{
            color: $color-grayApollo;
            padding: 0;
            margin-bottom: 0px;
            font-size: rem-calc(15);
            line-height: 18px;
            @media #{$Five00} {
              font-size: rem-calc(14);
              line-height: 16px;
            }
          }
          .article-readmore p{
            //border: 1px solid #000; 
            display: inline;
            padding: 0;
            a {
              font-size: rem-calc(15);
              color: $color-maroon;
              @media #{$Five00} {
                font-size: rem-calc(12);
              }
              &:hover {
                color: $color-grayKallipygos;
              }
            }
          }
        }        
      }
      li:first-child {
        .listed-article {
          padding: rem-calc(15) 0 rem-calc(15) 0;
          .article-image {
            width: 250px;
            height: 200px;
            @media #{$iPadPortrait} {
              width: 200px;
              height: 160px;
              margin-bottom: rem-calc(10);
            }
            @media #{$Five00} {
              width: 125px;
              height: 100px;
            } 
            img {
              max-width: 333px;
              height: 200px;
              left:-60px;
              @media #{$iPadPortrait} {
                max-width: 266px;
                height: 160px;
              }
              @media #{$Five00} {
                max-width: 166px;
                height: 100px;
                left:-30px;
              }
            }
          }
        }
      }
      li:last-child {
        .listed-article, .listed-article-landing {
          @media #{$Phone} {
            border-bottom: none;
          }
        }
      }
    }
  }

// Stats and Highlights Styles
  .stats-highlights{
    background-image: $background-d;
    background-repeat: repeat-x;
  }

  section .stats-wrapper {
    padding: rem-calc(22) 0 rem-calc(22) 0;
    height: 118px;
    margin: 0;
    @media #{$iPadPortrait} {
      padding: rem-calc(22) rem-calc(15) rem-calc(22) rem-calc(15);
    }
    @media #{$Phone} {
      padding: rem-calc(5) 0 rem-calc(5) 0;
      height: 50px;
    } //768
    ul {
      width: 100%;
      border-top: $thin-grayKallipygos;
      border-bottom: $thin-grayKallipygos;
      height: 75px;
      margin: auto;
      text-align:center;
      @media #{$Phone} {
        height: 45px;
      }
      li {
        display: inline-block;
        width: 33%;
        margin: rem-calc(7) 0 rem-calc(7) 0;
        text-align:center;
        height: rem-calc(60);
        border-left: $thin-grayKallipygos;
        @media #{$Phone} {
          height: rem-calc(30);
        }
        .title {
          display: block;
          color: $color-grayErato;
          font-weight: 300;
          font-size: rem-calc(14);
          padding-top: rem-calc(0);
          margin: -5px;
          @media #{$Phone} {
           font-size: rem-calc(9);
         }
        }
        .detail {
          position: relative;
          top: -11px;
          display: block;
          color: $color-grayChiron;
          font-weight: bolder;
          font-size: rem-calc(46); 
          padding: 0;
          margin: 0;
          @media #{$Phone} {
            top: -3px;
            font-size: rem-calc(26); 
          }
        }
      }
      li:first-child{
        border-left: none;
      }
    }
    .stats-disclaimer p {
      float: right;
      font-size: rem-calc(12);
      color: $color-grayGaea;
      padding: rem-calc(6) rem-calc(8) rem-calc(6) 0;
      margin: 0;
      @media #{$Phone} {
        min-width: rem-calc(165);
        font-size: rem-calc(9);
        padding: rem-calc(6) rem-calc(3) rem-calc(6) 0;
      }
    }
  }

// Orbit Styles
  .highlights {
    padding-top: 5px;
    ul {
      li { //(each highlight)
        padding: 0 rem-calc(40) 0 rem-calc(40);
        @media #{$iPadPortrait} {
          padding: 0 rem-calc(16) 0 rem-calc(16);
        }
        @media #{$Phone} {
          padding: 0 0 0 0;
        }
        .hightlighted-article { //(content) 
          .article-image {
            max-width:70%;
            float: left;
            padding-right: rem-calc(25);
            @media #{$iPadPortrait} {
              max-width:65%;
              padding-right: rem-calc(16);
            }
            @media #{$Phone} {
              max-width:100%;
              float: none;
              padding-right: 0;
            }
          }
          .article-text-elements {
            background-color: #fff;
            padding: rem-calc(16) rem-calc(25) 0 0;
            @media #{$iPadPortrait} {
              padding: rem-calc(16) rem-calc(0) 0 0;
            }
            @media #{$Phone} {
              padding: rem-calc(16) rem-calc(16) 0 rem-calc(16);
            }
            .article-title {
              h2 {
                text-transform: uppercase;
                font-size: rem-calc(30);
                line-height: 30px;
                padding-bottom: rem-calc(10);
                @media #{$iPadPortrait} {
                  font-size: rem-calc(22);
                  line-height: 22px;
                  padding-bottom: rem-calc(8);
                }
                @media #{$Phone} {
                  font-size: rem-calc(30);
                  line-height: 30px;
                  padding-bottom: rem-calc(4);
                }
                a {
                  color: $color-black;
                  &:hover {
                    color: $color-black;
                  }
                }
              }
            }
            .article-teaser {
              p {
                padding-top: 2px; 
                font-size: rem-calc(19);
                color: $color-grayApollo;
                line-height: 21px;
                @media #{$iPadPortrait} {
                  font-size: rem-calc(13);
                  line-height: 14px;
                  padding-right: rem-calc(40);
                }
                @media #{$Phone} {
                  padding-top: 1px; 
                  font-size: rem-calc(19);
                  line-height: 21px;
                }
              }
            }
            .article-readmore {
              p {
                a {
                  background-color: $color-maroon;
                  color: $color-white;
                  font-size: rem-calc(15);
                  padding: rem-calc(7) rem-calc(10) rem-calc(7) rem-calc(10);
                  &:hover {
                    background-color: $color-grayApollo;
                    color: $color-white;
                  }
                  @media #{$iPadPortrait} {
                    font-size: rem-calc(12);
                    padding: rem-calc(6) rem-calc(9) rem-calc(6) rem-calc(9);
                  }
                  @media #{$Phone} {
                    font-size: rem-calc(15);
                    padding: rem-calc(7) rem-calc(10) rem-calc(7) rem-calc(10);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // Orbit buttons culled from _orbit.scss
  .orbit-container {
    background-color: transparent;
    .orbit-prev {
      position: absolute;
      top: 50%;
      margin-top: -25px;
      background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/slideshow-LeftArrow.png) no-repeat 3px 10px;
      background-color: $orbit-nav-bg;
      width: 35px;
      height: 65px;
      line-height: 50px;
      color: white;
      text-indent: -9999px !important;
      z-index: 10;
      &:hover {
        background-color: $orbit-nav-bg;
        opacity:0.6; 
      }

      & > span {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        display: block;
        width: 0;
        height: 0;
        //border: inset 16px;
      }
      @media #{$iPadPortrait} {
        left: 16px;
        background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/slideshow-LeftArrow-Rev.png) no-repeat 5px 12px;
        background-color: $color-grayErato;
        opacity: 0.8;
        //&:hover {
        //  background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/slideshow-LeftArrow.png) no-repeat 5px 12px;
        //  background-color: $color-darkGray;
        //  opacity:0.6;
        //}
      }
      @media #{$Phone} {
        display: none;
      }
    }
    .orbit-next {
      position: absolute;
      top: 50%;
      margin-top: -25px;
      background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/slideshow-RightArrow.png) no-repeat -10px 10px;
      background-color: $orbit-nav-bg;
      width: 35px;
      height: 65px;
      line-height: 50px;
      color: white;
      text-indent: -9999px !important;
      z-index: 10;
      @media #{$iPadPortrait} {
        right: -16px;
      }
      &:hover {
        background-color: $orbit-nav-bg;
        opacity:0.6;  
      }

      & > span {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        display: block;
        width: 0;
        height: 0;
        //border: inset 16px;
      }
      @media #{$iPadPortrait} {
        right: 16px;
        background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/slideshow-RightArrow-Rev.png) no-repeat 6px 12px;
        background-color: $color-grayErato;
        opacity:0.8;
        //&:hover {
        //  background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/slideshow-RightArrow.png) no-repeat -12px 12px;
        //  background-color: $color-white;
        //  opacity:0.6;
        //}
      }
      @media #{$Phone} {
        display: none;
      }
    }
    .orbit-bullets {
        margin: 0 0 20px 0;
        padding: 0 0 0 0; 
        li {
        margin: 0 rem-calc(7) 0 rem-calc(7);
        border: $thin-grayApollo;
        background-color: $color-white;
        height: rem-calc(12);
        width: rem-calc(12);
        &.active {
          border: $thin-grayApollo;
          background-color: $color-grayApollo;
        }
      }
    }
  }

// Content Pages

// Breadcrumbs
  .breadcrumbs-bcf {
    padding: 0px;
    margin: 0 0 20px 0; 
    overflow: hidden;
    border-bottom: $medium-grayJason;
    width: 100%;
    p {
      padding: 0;
      margin:0;
      span {
        font-size: rem-calc(11);
        color: $color-grayErato;
        padding: 0 rem-calc(15) 0 rem-calc(0);
        margin: 0;
        background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/seeAll-Hover.png) no-repeat right center;
        a {
          color: $color-grayErato;
            &:hover{
            color: $color-maroon;
          }
        }
        //&:first-child {
        //  padding-left: 0;
        //  a {
        //    color: $color-maroon;
        //    &:hover{
        //      color: $color-midgray1;
        //    }
        //  }
        //}
        &:last-of-type {
          background: none;
        }
      }
    }
  }

// Article Pages
.article-category {
    padding: 0; 
    margin: 0;
    font-size: rem-calc(10);
    a {
    color: $color-grayHermes;
    font-weight: $bold;
      &:hover{
      color: $color-grayKallipygos;
    }
  }
}

article {
  width: 100%;
  .article-date{
    color: $color-grayFates;
    padding: rem-calc(8) 0px 0px 0px;
    margin: 0;
  }
  h1 {
    font-size: $h1-font-size;
    color: $color-black;
    font-family: 'ComeniaSansCondBold';
    //font-weight: $bold;
    line-height: 39px;
    padding-top: 2px;
  }
  .article-text, .article-text .article-additional {
    padding:0;
    margin: rem-calc(15) 0 0 0;
    h2 {
      font-family: 'ComeniaSansCondBold';
      color: $color-grayApollo;
      padding: rem-calc(8) 0 rem-calc(2) 0;
      line-height: 24px;
    }
    h3, h4, h5, h6 {
      font-family: 'ComeniaSansCondBold';
      color: $color-grayApollo;
      padding: rem-calc(10) 0 rem-calc(11) 0;
      line-height: 21px;
      margin: 0 0 rem-calc(-4) 0;
    }
    p {
      color: $color-grayBoreas;
      font-size: $paragraph-font-size;
      padding: rem-calc(9) 0 rem-calc(9) 0;
      line-height: 21px;
      margin: 0;
    }
    blockquote {
      color: $color-grayBoreas;
      padding: 0 rem-calc(16) 0 rem-calc(16);
      margin: rem-calc(6) 0 0 0;
      font-style: italic;
      border: none;
    }
    //table
    table {
      @media #{$Phone} {
        border: $thin-grayLinus;
      }
      th { 
        border-bottom: $thin-grayLinus;
        font-weight: $bold;
        padding: rem-calc(9) rem-calc(10);
        text-align: center;
        @media #{$iPadPortrait} {
          font-size: rem-calc(12);
        }
        @media #{$Phone} {
          font-size: rem-calc(11);
        }
      }
      td {
        border-bottom: $thin-grayLinus;
        padding: rem-calc(9) rem-calc(10);
        text-align: left;
        @media #{$iPadPortrait} {
          font-size: rem-calc(13);
        }
        @media #{$Phone} {
          font-size: rem-calc(11);
        }
      }
      @media #{$Phone} {
        &.responsive {
          margin-bottom: 0;
          th, td {
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            &:first-child {
              display: none;
            }
          }
          &.pinned {
            td {
              display: none;
            }
          }
        }
      }
    }
    .pinned {
      @media #{$Phone} {
        position: absolute; 
        left: 0; 
        top: 0; 
        background: $color-white; 
        width: 50%; 
        overflow: hidden; 
        overflow-x: scroll; 
        border-right: $thin-grayKallipygos; 
        border-left: $thin-grayKallipygos;
        table {
          border-right: none; 
          border-left: none; 
          width: 100%;
          th, td {
            white-space: nowrap; 
          }
        }
        td:last-child {
          border-bottom: 0;
        }
      }
    }
    div.table-wrapper { 
      @media #{$Phone} {
        position: relative; 
        margin-bottom: 20px; 
        overflow: hidden; 
        border-right: $thin-grayKallipygos;
        div.scrollable {
          overflow: scroll; 
          overflow-y: hidden;
          table { 
            margin-left: 50%;
          }
        }
      }
    }
    ul {
      list-style-type: disc;
      padding: rem-calc(4) 0 rem-calc(4) rem-calc(25);
      line-height: 21px;
      margin: 0;
      li {
        padding: rem-calc(4) 0 rem-calc(4) 0;
        margin: 0;
        ul {
          list-style-type: circle;
          padding-bottom: 0;
          li:last-of-type{
            padding-bottom: 0px;
          }
        }
      }
    }
    a {
      color: $color-maroon;
      font-weight: $bold;
      &:hover {
        color: $color-grayApollo;
      }
    }
    .article-additional{
      padding: rem-calc(15) 0 rem-calc(15) 0;
      width: 100%;
      @media #{$Phone} {
        padding: rem-calc(15) 0 rem-calc(15) 0;
      }
      .image-content{
        width: 100%; 
      }
      .caption {
        background-color: $color-grayApollo;
        color: $color-white;
        padding: rem-calc(7) 0 rem-calc(7) rem-calc(10);
        p {
          color: $color-white;
          padding: 0;
          margin: 0;
        }
      }
      .video-content{
        position: relative;
        padding-bottom: 57.25%;
        padding-top: rem-calc(30); 
        height: 0; 
        overflow: hidden;
        margin-bottom: 0;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}