//
// Custom Styles
//

//Fonts
  @font-face { 
    font-family: 'ComeniaSansCondRegular';
    src: url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.eot');
    src: local('☺'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.woff') format('woff'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.ttf') format('truetype'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.svg#webfontWDfTSCpx') format('svg');
    font-weight: normal;
    font-style: normal; 
  }

  @font-face {
    font-family: 'ComeniaSansCondBold';
    src: url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.eot');
    src: local('☺'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.woff') format('woff'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.ttf') format('truetype'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.svg#webfont7RYPTQcC') format('svg');
    font-weight: normal;
    font-style: normal;
  }

// Colors
  $color-maroon: #762141;
  $color-darkGray: #222222;
  $color-lightGray: #cccccc;
  $color-maroon: #762141;
  $color-maroon: #762141;
  $color-black: #000000;
  $color-midgray1: #333333;
  $color-midgray2: #666666;
  $color-white: #FFFFFF;

// Overall Paddings
  $padding-major: em-calc(32);
  $padding-minor: em-calc(16);
  $padding-mini: em-calc(8);

// Backgrounds
  $background-d: url('http://www.brooklyn.cuny.edu/web/sup_foundation/diagonals.png');

// Borders
  $thick-maroon: 7px solid $color-maroon;
  $medium-grey: 3px solid $color-lightGray;
  $thin-grey: 1px solid $color-lightGray;

// Text
  $bolder: bolder;

// General Stuff
  .columns {
    //border: 1px solid #666;
    //background-color: lighten($primary-color, 30%);
  } 

  .clearfix{
    @include clearfix;
  }

  a {
    color: $color-maroon;
    &:hover {
      color: $color-darkGray;
    }
  }

  ul {
    list-style: none;
  }

  .full-width { 
    width: 100%; 
    max-width: 100%;
  }

  .italics {
    font-style: italic;
  }

  .all-caps {
    text-transform: uppercase;
  }

  .bolder {
    font-weight: $bolder;
  }

  .see-all{
  //border: $thin-grey;
  padding-right: 12px;
  background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/seeAll-maroon.png) no-repeat 50px 6px;
  &:hover {
      background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/seeAll-Hover.png) no-repeat 50px 6px;
    }
  }

//Header Styles
  .logo {
    padding: $padding-major 0 $padding-major em-calc(40);
  }

  .mission-text p {
    //border: 1px solid #000000;
    color: $color-black;
    position: relative;
    padding: em-calc(56) 0 0 em-calc(38);
    height: em-calc(135);
    letter-spacing: em-calc(-.4);
    font-size: em-calc(18);
    line-height: 130%;
  }

 /* .absolute-center {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%; 
    height: 60%;
    min-width: em-calc(200);
    padding: 10%;
    //border: 1px solid #666;
  }*/

//Footer Styles
  .footer-wrapper {
    background-image: $background-d;
    background-repeat:repeat;
    border-top: $thick-maroon;
    padding: em-calc(25) 0 em-calc(28) 0;
    .footer-address{
      padding: 0 0 0 em-calc(40);
      h1 {
        font-size: em-calc(14);
      }
      p {
        font-size: em-calc(12);
        padding: 0 0 em-calc(10) 0;
        margin: 0;
      }
      .footer-title {
        padding-bottom: 0;
        margin-bottom: 0;
      }
      .footer-url {
        padding-top: em-calc(20);
      }
    }
    .footer-nav {
      ul li {
        font-size: em-calc(14);
        padding-bottom: em-calc(2);
        ul {
          display: none;
        }
      }
      .footer-copyright {
        padding: 0;
        font-size: em-calc(12);
        margin: 0;
      }
    }
  }

// Nav One Styles
  .nav-one {
    background-color: $color-maroon;
//    padding-top: em-calc(5);
    max-height: em-calc(35);
    text-transform: uppercase;
    nav {
      padding-left: 0 em-calc(40) 0 em-calc(40);
    }
  }

//Nav Two Styles
  .nav-two {
    background-image: $background-d;
    //height: em-calc(35); need this for real build
    background-repeat:repeat;
    border-top: $thin-grey;
    border-bottom: $thin-grey;
    text-align:center;
    ul {
      display: inline-block;
      margin: auto;
      li {
      display: inline-block;
      padding: em-calc(5) $padding-mini em-calc(5) $padding-mini;
      }
    }
  }

// Aside Styles
  aside {
    .aside-wrapper {
      padding: em-calc(30) em-calc(40) em-calc(90) em-calc(65);
      .side-nav{ //to come
        li {
          //border-bottom;
          &:first-child {
            //background hatch, no bottom border
          }
        }
      }
      .advert {
        padding: em-calc(15) 0 em-calc(40) 0;
        border-bottom: $thin-grey;
      }
      .spotlight {
        padding: em-calc(15) 0 em-calc(15) 0;
        border-bottom: $thin-grey;
        .spotlight-header {
          h3 {
            padding: 0;
            margin: 0;
            font-size: em-calc(15);
            height: em-calc(21);
          }
        }
        .spotlight-image {
          img {
            //asas
          }
        }
        .spotlight-title {
          h3 {
            padding-top: em-calc(13);
            margin: 0;
            font-size: em-calc(18);
            height: em-calc(33);
          }
        }
        .spotlight-text {
          p {
            padding: 0px 0px 5px 0px;
            margin: 3px 0px 0px 0px;
            font-size: em-calc(14);
            line-height: 19px;
          }
        }
      }
      .partners {
        padding: em-calc(15) 0 em-calc(15) 0;
        .partners-title-bar{
          background-color: $color-lightGray;
          height: em-calc(40);
          h3 {
            padding: 4px 0px 0px 10px;
            font-size: em-calc(18);
            color: $color-midgray2;
          }
          .see-all {
            margin: 10px 10px 0px 0px;
          }
        }
        .partners-list{
          .sponsor{
            background-image: $background-d;
            border-left: $thin-grey;
            border-right: $thin-grey;
            border-bottom: $thin-grey;
            height: 60px;
            img {
              //border: 1px solid #000;
              margin: 6px 0px 0px 25px;
           }
          }
        }
      }
    }
  }

// Article Section Styles for Home Page and News Landing Page
  section .articles-wrapper {
    //border:1px solid #000;
    padding: em-calc(32) em-calc(8) em-calc(90) em-calc(32);
    .title-bar {
      border-bottom: $thin-grey;
      height: 23px; 
      .title {
      }
    }
    ul {
      li {
        padding:0;
        .listed-article, .listed-article-landing {
          border-bottom: $thin-grey;
          padding: em-calc(25) 0 em-calc(25) 0;
          .article-image {
            margin-right: em-calc(30);
            overflow:hidden; // this is important
            position:relative; // this is important too
            width: 250px;
            height: 135px;
            img {
              position:absolute;
            }
          }
          .article-tag {
            padding: 0;
            margin: 0;
            font-size: em-calc(12);
            height: em-calc(9);
            a {
              color: $color-midgray2;
              &:hover {
                color: $color-maroon;
              }
            }
          }
          .article-title {
            //border: 1px solid #000;
            padding: 0;
            margin: 8px 0 -6px 0;
            h2 {
              font-size: em-calc(20);
            }
            //height: em-calc(37);
            a {
              color: $color-darkGray;
              &:hover {
                color: $color-maroon;
              }
            }
          }
          .article-teaser {
            //border: 1px solid #000;
            padding: 0;
            margin-bottom: -11px;
            p {
              font-size: em-calc(16);
              line-height: 19px;
            }
          }
          .article-readmore {
            //border: 1px solid #000;
            padding: 0;
            margin: 0;
            a {
              font-size: em-calc(16);
              color: $color-maroon;
              &:hover {
                color: $color-midgray2;
              }
            }
          }
        }        
      }
      li:first-child {
        .listed-article {
          .article-image {
            width: 250px;
            height: 200px;
            img {
              min-width: 350px; 
              height: 210px;
              left:-60px;
            }
          }
        }
      }
    }
  }

// Stats and Highlights Styles
  .stats-highlights{
    background-image: $background-d;
    background-repeat: repeat-x;
  }

  section .stats-wrapper {
    padding: em-calc(22) 0 em-calc(22) 0;
    height: 118px;
    margin: 0;
    ul {
      width: 100%;
      border-top: $thin-grey;
      border-bottom: $thin-grey;
      height: 75px;
      margin: auto;
      text-align:center;
      li {
        display: inline-block;
        width: 33%;
        margin: em-calc(7) 0 em-calc(7) 0;
        text-align:center;
        height: em-calc(60);
        border-left: $thin-grey;
        .title {
          display: block;
          color: $color-midgray1;
          font-weight: 300;
          font-size: em-calc(16);
          padding-top: em-calc(0);
          margin: -5px;
        }
        .detail {
          position: relative;
          top: -11px;
          display: block;
          color: $color-midgray2;
          font-weight: 600;
          font-size: em-calc(48); 
          padding: 0;
          margin: 0;
        }
      }
      li:first-child{
        border-left: none;
      }
    }
  }

// Orbit Styles
  .highlights {
    ul {
      li { //(each highlight)
        padding: 0 em-calc(40) 0 em-calc(40);
        .hightlighted-article { //(content) 
          .article-image {
            padding-right: em-calc(25);
          }
          .article-text-elements {
            background-color: #fff;
            padding: em-calc(36) em-calc(25) 0 0;
            .article-title {
              h2 {
                text-transform: uppercase;
                font-size: em-calc(30);
                line-height: 30px;
                a {
                  color: $color-darkGray;
                  &:hover {
                    color: $color-maroon;
                  }
                }
              }
            }
            .article-teaser {
              p{
                padding-top: 2px; 
                font-size: em-calc(19);
                //font-weight: $bolder;
                line-height: 21px;
              }
            }
            .article-readmore {
              p {
                a {
                  color: $color-white;
                  font-size: em-calc(19);
                  //font-weight: $bolder;
                  background-color: $color-maroon;
                  padding: em-calc(12) em-calc(10) em-calc(7) em-calc(10);
                  &:hover {
                    //asas
                  }
                }
              }
            }
          }
        }
      }
    }
  }

// Content Pages

// Breadcrumbs
  .breadcrumbs-bcf {
    padding: 0px;
    margin: 0 0 20px 0; 
    overflow: hidden;
    border-bottom: $medium-grey;
    width: 100%;
    font-size: em-calc(12);
    p {
      padding: 0;
      margin:0;
      span {
        color: $color-midgray1;
        padding: 0 em-calc(25) 0 em-calc(5);
        margin: 0;
        background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/seeAll-Hover.png) no-repeat right center;
        a {
          color: $color-midgray1;
            &:hover{
            color: $color-maroon;
          }
        }
        &:first-child {
          padding-left: 0;
          a {
            color: $color-maroon;
            &:hover{
              color: $color-midgray1;
            }
          }
        }
        &:last-of-type {
          background: none;
        }
      }
    }
  }

// Article Pages
.article-category {
    padding: 0; 
    margin: 0;
    font-size: em-calc(10);
    a {
    color: $color-lightGray;
      &:hover{
      color: $color-maroon;
    }
  }
}

article {
  width: 100%;
  .article-date{
    color: $color-lightGray;
    padding: 12px 0px 4px 0px;
  }
  h1 {
    font-size: $h1-font-size;
    color: $color-darkGray;
    line-height: 39px;
    padding-top: 2px;
    margin: 0px;
  }
  .article-text{
    h2 {
      padding: em-calc(15) 0 em-calc(5) 0;
      line-height: 26px;
      margin:0;
    }
    h3, h4, h5, h6 {
      padding: em-calc(10) 0 em-calc(4) 0;
      line-height: 21px;
      margin: 0 0 -14px 0;
    }
    p {
      color: $color-midgray1;
      font-size: $paragraph-font-size;
      padding: em-calc(9) 0 em-calc(9) 0;
      line-height: 21px;
      margin: 0;
    }
    ul {
      list-style-type: disc;
      padding: em-calc(9) 0 em-calc(9) em-calc(25);
      line-height: 21px;
      margin: 0;
      li {
        padding: em-calc(9) 0 em-calc(9) 0;
        margin: 0;
        ul {
          list-style-type: circle;
          padding-bottom: 0;
          li:last-of-type{
            padding-bottom: 0px;
          }
        }
      }
    }
    a {
      font-weight: $bolder;
      color: $color-maroon;
      &:hover {
        color: $color-darkGray;
      }
    }
    .article-additional{
      width: 100%;
      margin-bottom: 22px;
      .image-content{
        width: 100%; 
      }
      .caption {
        background-color: $color-darkGray;
        color: $color-white;
        padding: em-calc(7) 0 em-calc(7) em-calc(10);
        p {
          color: $color-white;
          padding: 0;
          margin: 0;
        }
      }
    .video-content{
      position: relative;
      padding-bottom: 57.25%;
      padding-top: em-calc(30); 
      height: 0; 
      overflow: hidden;
      margin-bottom: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
}