//
// Custom Styles
//

  @font-face { 
    font-family: 'ComeniaSansCondRegular';
    src: url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.eot');
    src: local('☺'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.woff') format('woff'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.ttf') format('truetype'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.svg#webfontWDfTSCpx') format('svg');
    font-weight: normal;
    font-style: normal; 
  }

  @font-face {
    font-family: 'ComeniaSansCondBold';
    src: url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.eot');
    src: local('☺'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.woff') format('woff'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.ttf') format('truetype'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.svg#webfont7RYPTQcC') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  .columns {
    border: 1px solid #666;
    background-color: #999;
    padding: 0px;
  } 